@page
@model Products.DeleteModel
@inject SignInManager<Employee> SignInManager

@{
    ViewData["Title"] = "Delete Confirmation";
}




<div class="card border-success mb-3">
    <h4 class="card-header">Delete Product</h4>
    <div class="row card-body text-success">
        <h5>Are you sure you want to delete this?</h5>
        <dl class=" row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ImageLink)
            </dt>
            <dd class="col-sm-10">
                <img class="img-thumbnail" src=@Html.DisplayFor(model => model.Product.ImageLink) />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Size)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Size)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.IsGlutenFree)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.IsGlutenFree)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.BatchNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.BatchNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.BestBefore)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.BestBefore)
            </dd>
        </dl>

        @if (SignInManager.IsSignedIn(User))
        {
            <form method="post">
                <input type="hidden" asp-for="Product.ProductId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        }
        else
        {
            <div class="col-md-6 col-md-offset-2">
                <p>Only authorized user has the privilege to delete product.</p>
                <p>Please <a id="login" asp-area="Identity" asp-page="/Account/Login">login</a> or
                    contact company system admin</p>
            </div>
        }
    </div>
    <div class="card-footer">
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
