@page "{handler?}"
@model Products.IndexModel
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Index";
    var signedIn = SignInManager.IsSignedIn(User);
    var loginUser = UserManager.GetUserAsync(User).Result;
}

<div class="card border-success mb-3">
    <h4 class="card-header">Current Stock</h4>
    <div class="card-body text-success">
        <table class="table table-bordered table-striped table-hover bg-light">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].ImageLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].Type)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.Product[0].Size)

                    </th>
                    <th>
                        <a asp-page-handler="SortQuantityAsc"><img src="~/img/caret-up.svg" /></a>
                        @Html.DisplayNameFor(model => model.Product[0].Quantity)
                        <a asp-page-handler="SortQuantityDesc"><img src="~/img/caret-down.svg" /></a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].IsGlutenFree)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].BatchNumber)
                    </th>
                    <th>
                        <a asp-page-handler="SortBestbeforeAsc"><img src="~/img/caret-up.svg" /></a>
                        @Html.DisplayNameFor(model => model.Product[0].BestBefore)
                        <a asp-page-handler="SortBestbeforeDesc"><img src="~/img/caret-down.svg" /></a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Product)
                {
                    <tr>
                        <td>
                            <img src=@item.ImageLink />
                            @* @Html.DisplayFor(modelItem => item.ImageLink) *@
                        </td>
                        <td id=wrap-td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsGlutenFree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatchNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BestBefore)
                        </td>
                        <td>
                            @if (signedIn)
                            {
                                <a asp-page="./Edit" asp-route-id="@item.ProductId"><button type="button"
                                class="btn btn-outline-warning btn-sm">Edit</button></a>
                                <a asp-page="./Details" asp-route-id="@item.ProductId"><button type="button"
                                class="btn btn-outline-success btn-sm">Details</button></a>
                                @if (loginUser.Title.ToString() == "Supervisor")
                                {
                                    <a asp-page="./Delete" asp-route-id="@item.ProductId"><button type="button"
                                class="btn btn-outline-danger btn-sm">Delete</button></a>
                                }
                            }
                            else
                            {
                                <p>Authorized user only</p>
                                <p>Please <a id="login" asp-area="Identity" asp-page="/Account/Login">login</a></p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @if (SignInManager.IsSignedIn(User) && Model.NumberOfNotification > 0)
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <details class="btn btn-primary">
                            <summary>Notifications <span class="badge badge-light">@Model.NumberOfNotification</span>
                            </summary>

                            @foreach (KeyValuePair<string, string> kvp in Model.Expired)
                            {
                                <div class="alert alert-danger opacity-85" role="alert">Product @Html.DisplayFor(item =>
                            kvp.Key)
                                    with
                                    batch number
                                    @Html.DisplayFor(item => kvp.Value) is already expired.</div>
                            }

                            @foreach (KeyValuePair<string, string> kvp in Model.AlmostExpire)
                            {
                                <div class="alert alert-danger opacity-75" role="alert">Product @Html.DisplayFor(item =>
                            kvp.Key)
                                    with
                                    batch number
                                    @Html.DisplayFor(item => kvp.Value) is expering in @Model.BestBeforeThreshold days.</div>
                            }

                            @foreach (KeyValuePair<string, string> kvp in Model.LowStock)
                            {
                                <div class="alert alert-warning opacity-75" role="alert">Product @Html.DisplayFor(item =>
                            kvp.Key)
                                    current stcok
                                    @Html.DisplayFor(item => kvp.Value) is low, please order
                                    soon</div>
                            }

                        </details>


                    </div>
                    <div class="col-sm-1"><a asp-page="Create"><button type="button" class="btn btn-primary">Add
                                Product</button></a></div>
                    <div class="col-sm-5">
                        @if (SignInManager.IsSignedIn(User) && loginUser.Title.ToString() == "Supervisor")
                        {
                            <form method="post">
                                <div class="row">
                                    <div class="col-sm-3">
                                        Best Before <input type="number" min="1" step="1" value=@Model.BestBeforeThreshold
                                    name="BestBeforeThreshold" class="form-control"
                                    placeholder="Best before Warning Level" required />
                                    </div>

                                    <div class="col-sm-3">
                                        Stock Level <input type="number" min="1" step="1" value=@Model.StockThreshold
                                    name="StockThreshold" class="form-control" placeholder="Stock Warning Level"
                                    required />
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary">Update Threshold</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="col form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                        id="flexSwitchCheckDefault" name="SendEmail" />
                                            <label class="form-check-label fw-bold" for="flexSwitchCheckDefault">send email
                                                notification</label>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>