@page
@model Products.IndexModel
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Index";
    var signedIn = SignInManager.IsSignedIn(User);
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].IsGlutenFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].BestBefore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsGlutenFree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BestBefore)
                </td>
                <td>
                    @if (signedIn)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit | </a>
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details | </a>
                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                    }
                    else
                    {
                        <p>Authorized user only</p>
                        <p>Please <a id="login" asp-area="Identity" asp-page="/Account/Login">login</a></p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
